body { 
    line-height: 1; 
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
	background-color: #4a4f56;
    min-height: 125px;    
}  

.container {
	max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 125px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    text-align: center;
}

.header h1 { 
	font-size: 30px;
    margin: 0 0 5px;
    color: #eb7e7f;
    font-weight: 700;
 }

.header span {
	color: #eb7e7f; 
    font-size: 20px;
}

main {	
    padding:  50px  0;
    background-color: #3b3f45;  
    min-height: calc(100vh - 125px);
    box-sizing: border-box;
}

 main .container {
    display: flex;   
    flex-direction: column;
    align-items: stretch;
}

.shopping-list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; 
    display: flex;   
    margin-bottom: 40px;
}

.shopping-list li {
    padding: 10px 15px;
    font-size: 20px;   
    background-color: #88839e;
    display: flex;
    min-height: 50px;
    justify-content: left;
    align-items: center;
    max-width: 100%;   
    border-bottom: #3b3f45;
}

.shopping-list input{
    margin-right: 16px;
    min-height: 24px;      
}

.shopping-list input:checked + .line-through {
   text-decoration: line-through;
   color: #a3a0b5;
}

.line-through {
   font-size: 25px;
   font-weight: 400;
   color: #ffffff;
}

.shopping-list li:nth-of-type(even) {
   background-color: #7a7593;
}

.shopping-list li:nth-of-type(4) {
    background-color: #625e77;  
    border-top: #ffffff;
    border-bottom: #ffffff;                                                                               
    border-style: solid;
}

.line-through span {
   font-size: 15px;
   font-weight: 200;
}

.bon-appetit  {
    min-height: 70px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
    background-color: #4a4f56; 
    font-size: 20px;    
    color: #eb7e7f;
    height: 100%;
}